body{

}
div{
	width: 500px ;
	height: 400px;
	padding: 5%;
	float: left;
	margin:3%;
	background-color:white ;
	border-radius: 5%;
	border-color:#FF3A00;
	border-style:dashed;
}

input{
	float: center;
	top: 400px;
}
.contador{
	position:relative;
	bottom:-300px;
	float: left;

}

.textarea1{
	width: 480px ; 
	height: 100px;
	position: relative;
	bottom: -50px;

}
.p1{
	position: relative;
	bottom: -180px;

}
.p3{
	position: relative;
	bottom: -110px;
}

.p2{
	position: relative;
	bottom: -240px;
}
button{
	float: right;
	color:#ffffff;
	background: #f15e26;
	width: 95px;
	height: 25px;
}
button:hover{
	color:#f15e26;
	background:#ffffff ;
	box-shadow: inset 0 0 0 3px #ffffff;
}

img{
	float: right;
	bottom: -240px;
}
.colorfondo:hover:not(.active){
	background:#e7d2cf;
}
